.container1 {
  padding: 10px;
  display: inline-grid;
  grid-template: 50px 50px / 200px 50px 50px 50px 50px;
  border: solid;
  grid-gap: 10px;
  margin-bottom: 100px;
}
#cell {
  background-color: yellow;
}
.stuff {
  display: grid;
  align-items: center;
  text-align: center;
  border: solid red 1px;
}
.track {
  background-color: lightblue;
}

.container2 {
  display: inline-grid;
  border: solid;
  grid-gap: 10px;
  grid-template-columns: 200px 200px 200px;

  margin-bottom: 100px;
}

.item {
  display: grid;
  text-align: center;
  align-items: center;
  border: red solid;
  background-color: orange;
  font-weight: bold;
  font-size: 2rem;
}

.container3 {
  display: inline-grid;
  border: solid;
  grid-gap: 10px;
  grid-template: 100px 100px 100px/100px 100px 100px;
  margin-bottom: 100px;
}
.box {
  display: grid;
  align-items: center;
  text-align: center;
  border: solid 2px;
  background-color: rgb(127, 207, 207);
}

.container4 {
  border: solid;
  display: inline-grid;
  grid-template: repeat(5, 100px) / repeat(5, 100px);
  background-color: aqua;
  margin-bottom: 200px;
}

.room {
  border: solid 2px;
  text-align: center;
}

#livroom {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

#kitchen {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: ;
  grid-row-end: ;
}
#bedroom {
}
#bathroom {
}
#closet {
}
